header.main {
  @include clearfix;
  display:       flex;
  padding:       0;
  height:        80px;
  width:         100%;
  border-bottom: 1px solid $color__lighter_gray;

  .nav-block {
    display:     flex;
    align-items: center;
  }

  a.brand {
    border-right: 1px solid $color__lighter_gray;
    color:        $color__darker_salmon;
    font-family:  $font_alt;
    font-size:    18px;
    float:        left;
    line-height:  80px;
    padding:      0 30px;

    svg {
      fill:   $color__darker_salmon;
      height: 45px;
      width:  45px;
    }
  }

  .search {
    align-items: center;
    flex:        1;
    padding:     0 30px;

    svg {
      margin-right: 15px;
    }

    input {
      border: none;
      flex:   1;
      height: 50%;
      &:focus {
        outline: none;
      }
    }
    input::placeholder {
      font-size: 12px;
    }
  }

  .community-dropdown .dropdown-menu {
    top:   150%;
    right: 0;
    left:  auto;
  }

  .switcher {
    position:    relative;
    display:     flex;
    align-items: center;
    padding:     0 15px;

    .dropdown-menu {
      min-width:     75px;
      right:         0;
      left:          auto;
      margin-top:    10px;
      padding:       0;
      box-shadow:    0 1px 6px rgba(0, 0, 0, .1);

      > li {
        border-bottom: 1px solid $color__faint;
        &:last-child {
          border: none;
        }
      }

      > li > a {
        color:      $color__gray;
        padding:    10px 20px;
        text-align: center;
      }
    }
  }
}

.header-menu-container {
  border-bottom: 1px solid $color__lighter_gray;
}

nav.header-menu {
  @include clearfix;

  display:       flex;
  align-items:   center;
  padding:       0;
  height:        80px;
  width:         100%;

  ul.main-nav {
    font-family: $font_alt;
    list-style:  none;
    display:     block;
    width:       100%;
    margin:      0;
    padding:     0;

    > li {
      margin:  12px 10px 0;
      display: inline-block;

      &.divider {
        border-left: 1px solid $color__lighter_gray;
        height:      12px;
      }

      &.switcher {
        margin-top: 0;
        float:      right;
      }

      > a {
        color:     $color__gray;
        display:   block;
        font-size: 16px;
        padding:   0 5px;

        &:hover {
          color: $color__salmon;
        }

        &.dropdown-toggle {
          white-space: nowrap;
        }
      }

      &.active {
        a {
          color: $color__salmon;
        }
      }
    }
  }
}

.responsive-sidebar-nav {
  padding:     0 15px;
  display:     none;
  align-items: center;
}

@media (max-width: 1160px) {
  header.main .brand {
    padding: 0 15px !important;
  }

  nav.header-menu {
    ul.main-nav {
      > li {
        margin-left:  5px;
        margin-right: 5px;

        > a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  header.main .search {
    padding: 0 15px;

    svg {
      margin-right: 5px;
    }
  }
}

@media (max-width: 765px) {
  nav.header-menu {
    display: none;
  }

  .responsive-sidebar-nav {
    display: flex;
  }

  .docs {
    .responsive-sidebar-nav {
      border-left: 1px solid $color__lighter_gray;
    }
  }
}

@media (max-width: 660px) {
  header.main {
    .search {
      svg {
        display: none;
      }

      input {
        flex:      auto;
        min-width: 80px;
      }
    }

    .brand {
      padding-right: 15px !important;

      span {
        display: none;
      }
    }
  }
}
