
// Colors //

$color__salmon:         #2b90b3;
$color__darker_salmon:  #007da8;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
$color__teal:           #27b4a8;

// Fonts //

$font:         'Roboto', sans-serif;
$font_alt:     'Roboto', sans-serif;
