.home .container {
    padding: 0 20px;
}

.hero {
    background: $color__darker_salmon;
    color: #fff;

    p {
        font-size: 21px;
        color: inherit;
    }
}

.github-buttons {
    text-align: center;
    margin-top: 40px;
}