.home .container {
    padding: 0 20px;
}

.hero {
    background: $color__darker_salmon;
    background-image: url("/assets/img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;

    p {
        font-size: 21px;
        color: inherit;
    }
}

.github-buttons {
    text-align: center;
    margin-top: 40px;
}

@media all and (max-width: 600px) {
    .hero {
        h1 {
            font-size: 20px;
        }
    }
}